
@{
    ViewBag.Title = "AdminLogin";
}

<h2>Admin Login</h2>

<div class="row w3pvt-info-para pt-lg-5 pt-md-4 pt-3">
    <!--contact-map -->
    <div class="col-lg-6 col-md-6">
        <form action="Login" method="post">
            <div class="w3pvt-wls-contact-mid">
               
                <div class="form-group contact-forms">
                    <input type="email" class="form-control" placeholder="Enter User Name " name="txtEmail" id="txtEmail" required="">
                </div>
                <div class="form-group contact-forms">
                    <input type="password" class="form-control" placeholder="Enter Password" name="txtPassword" id="txtPassword" required="">
                </div>
               

                <input type="submit" value="Login" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>