
@{
    ViewBag.Title = "Correct";
}

<h2>Wel Come to the Admin Area of  the Site </h2>


<a href="@Url.Action("StudentDetails","Student")" class="btn btn-primary">Student Details </a>
<br />
<hr/>

<a href="@Url.Action("TutorRecord","Tutor")" class="btn btn-primary">Tutor Details </a>
<br />


<a href="@Url.Action("StudyRecord","Study")" class="btn btn-primary">Study Material Details </a>
<br />

<hr/>

<a href="@Url.Action("ContactRecord","Contact")" class="btn btn-primary">Contact Details </a>
<br />
